<h1>Editing image post</h1>

<%= render "form", image_post: @image_post %>

<br>

<div>
  <%= link_to "Show this image post", @image_post %> |
  <%= link_to "Back to image posts", image_posts_path %>
</div>
