<p style="color: green"><%= notice %></p>

<h1>Image posts</h1>

<div id="image_posts">
  <% @image_posts.each do |image_post| %>
    <%= render image_post %>
    <p>
      <%= link_to "Show this image post", image_post %>
    </p>
  <% end %>
</div>

<%= link_to "New image post", new_image_post_path %>
